.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  font-size: 0.75rem;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 0.67em 0;
  color: #1d1e35;
}

@media (min-width: 64em) {
  h1 {
    text-align: left;
  }
}

p {
  color: #4a4b5e;
  display: inline;
}

a {
  text-decoration: none;
}

hr {
  opacity: 0.5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-js-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bold {
  font-weight: 700;
}

@media (min-width: 64em) {
  .pquestion:hover {
    color: #f47c57;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  background-color: white;
  border-radius: 1rem;
  margin-top: 9.25rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 5.25rem;
  height: 33.625rem;
  -webkit-box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.25);
}

@media (min-width: 64em) {
  .container {
    margin-left: 17.36rem;
    margin-right: 14.93rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.container__images {
  -webkit-transform: translateY(-59%) translateX(3%);
          transform: translateY(-59%) translateX(3%);
  height: 11.375rem;
  width: 76.7%;
  background-repeat: no-repeat;
}

@media (min-width: 64em) {
  .container__images {
    height: 100vh;
    width: 30%;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 64em) {
  .container__image1 {
    -webkit-transform: translate(-17%, 20%);
            transform: translate(-17%, 20%);
  }
}

.container__image2 {
  -webkit-transform: translateY(-84%) translateX(11.5%);
          transform: translateY(-84%) translateX(11.5%);
}

@media (min-width: 64em) {
  .container__image2 {
    -webkit-transform: translate(-60%, -67%);
            transform: translate(-60%, -67%);
  }
}

@media (min-width: 64em) {
  .container__image3 {
    -webkit-transform: translate(-52%, -605%);
            transform: translate(-52%, -605%);
  }
}

.container__header {
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
}

@media (min-width: 64em) {
  .container__header {
    -webkit-transform: none;
            transform: none;
    height: 10%;
    padding-top: 4.625rem;
    padding-bottom: 1.5rem;
  }
}

.container__text {
  padding: 2.5rem 1.5625rem;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

@media (min-width: 64em) {
  .container__text {
    -webkit-transform: none;
            transform: none;
    height: 50%;
    padding: 0;
    padding-bottom: 4.625rem;
    padding-right: 6rem;
  }
}

.container__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2.5;
}

.container__answer {
  padding: 0.5rem 2rem 0.75rem 0;
}

@media (min-width: 64em) {
  .container__answer {
    width: 70%;
    padding: 0;
    width: 20rem;
  }
}

.container__answer p {
  color: #787887;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */